In [ ]:
!help

In [6]:
man find

In [ ]:
!find / -name '*.ipynb'

In [14]:
"""
Vamos a hacer el ejercicio tutorial

"""
num = input("Dame un numero " )
print("Tu numero es", num)
print("Tu numero multiplicado por 5 es", num*5) #esto no va afuncionar correctamente

"""
Lo convertimos a entero
"""
num = int(num)
print("Tu numero multiplicado por 5 es", num*5)

Dame un numero 69
Tu numero es 69
Tu numero multiplicado por 5 es 6969696969
Tu numero multiplicado por 5 es 345

In [15]:
type (num)

int

In [20]:
num = 8//5
type (num)

int

In [21]:
print (num)

1

In [23]:
num = 8/5
print (num)
type (num)

1.6

float

In [24]:
num = 8%5
print (num)

3

In [25]:
nombre = "Jorge"
print (nombre)
type (nombre)

Jorge

str

In [32]:
num = int(input("Dame un numero: "))
variable = (10>num)
print(variable)
type(variable)

Dame un numero: 56
False

bool

In [33]:
if (num == 5):
  print("Tu numero es 5")
else:
  print("Tu numero es diferente de 5")

Tu numero es diferente de 5

In [34]:
if (num != 5):
  print("Tu numero es diferente de 5")
else:
  print("Tu numero es 5")

Tu numero es diferente de 5

In [37]:
num = int(input("Dame un numero: "))
if (num >=10 and num <=15):
  print("Tu numero está entre 10 y 15!")
elif (num >15):
  print("Tu numero es mayor que 15")
else:
  print("Tu numero es menor que 10 :(")

Dame un numero: 1
Tu numero es menor que 10 :(

In [41]:
lista = range (11)
for i in lista:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [42]:
lista = range (5,26)
print(list(lista))
print("La lista tiene", len(lista), "elementos")

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
La lista tiene 21 elementos

In [60]:
lista = range (0,51,10)
list(lista)

[0, 10, 20, 30, 40, 50]

In [65]:
nombre = "Jorge"
n_mayus = nombre.upper()
print(n_mayus)
print(nombre[3])
len(nombre)

JORGE
g

5

In [87]:
nombres = ["Alonso", "Hamilton", "Vettel", "Schumacher", "Barrichello"]
print(nombres[2])
print(type(nombres))
del nombres[1]
print(nombres)
nombres.insert(2, "Fisichella")
print(nombres)
print("Para ver la posición donde se encuentra un valor usamos index, Schumacher se encuentra en la posición:", nombres.index("Schumacher"))
print(nombres)
print("Para ver los elementos de la posición 1 a la 2, pongo un 3 al final:", nombres[1:3])
nombres.append("Alonso")
print(nombres)
print("Para ver los elementos de 2 en 2:", nombres[::2])
print("Para ver los elementos en orden invertido uso -1", nombres[::-1])
#Para listar 1 a 1 los elementos de la lista
for i in nombres:
  print(i)

Vettel
<class 'list'>
['Alonso', 'Vettel', 'Schumacher', 'Barrichello']
['Alonso', 'Vettel', 'Fisichella', 'Schumacher', 'Barrichello']
Para ver la posición donde se encuentra un valor usamos index, Schumacher se encuentra en la posición: 3
['Alonso', 'Vettel', 'Fisichella', 'Schumacher', 'Barrichello']
Para ver los elementos de la posición 1 a la 2, pongo un 3 al final: ['Vettel', 'Fisichella']
['Alonso', 'Vettel', 'Fisichella', 'Schumacher', 'Barrichello', 'Alonso']
Para ver los elementos de 2 en 2: ['Alonso', 'Fisichella', 'Barrichello']
Para ver los elementos en orden invertido uso -1 ['Alonso', 'Barrichello', 'Schumacher', 'Fisichella', 'Vettel', 'Alonso']
Alonso
Vettel
Fisichella
Schumacher
Barrichello
Alonso